<div id="pan" class="page-header">
  <h2>Welcome to MarketFinder</h2>
  <p>There's loads of great fresh food near you, we help you find it</p>
</div>

<script type="text/javascript">
	var eventData = <%= @eventJSON.html_safe %>
</script>

<div class="row">
  
  <div class="span8">
    <div id="mf-map"></div>
  </div>
  
  <div class="span4">
    
    <div id="event-lists">
      <div class="">
        <h2>On Today</h2>
        
        <%= if (@todays_events.length == 0) then "No events today!" end %> 
        <% @todays_events.each do |event| %>
          <div class="event-box">
            <div class="event-box-title"><a href="<%= "#{events_path}/#{event.id}" %>"><%= event.title %></a></div>
            <div class="event-box-blurb"><%= truncate(event.description, :length => 140) %></div>
          </div>
        <% end %>
      </div>
      <div class="">
        <h2>Coming Up</h2>
        
        <%= if (@upcoming.length == 0) then "No upcoming events!" end %> 
        <% @upcoming.each do |event| %>
          <div class="row-fluid">
            <div class="span8"><a href="<%= "#{events_path}/#{event.id}" %>"><%= event.title %></a></div>
            <div class="span4"><%= event.start.to_s(:simple) %></div>
          </div>
        <% end %>
      </div>
    </div>
    
  </div>
  
</div>

<div>

</div>

<%= calendar @events do |event| %>
  <div><%= link_to event.title, event %></div>
<% end %>