
<div class="page-header">
<h2>Welcome to MarketFinder</h2>
<p>There's loads of great fresh food near you, we help you find it</p>
</div>

<script type="text/javascript">
	var eventData = <%= @eventJSON.html_safe %>
</script>

<div id="mf-map"></div>

<div id="mf-calendar>">
  <!--placeholder for calendar and search by date function-->
  <h3>About MarketFinder</h3>
  <p>
    We will provide you with up to date information on Co-op and Farmers Markets</p>
  <p>Currently if you follow the link to Event Listings, you can see all markets and search by location
    ,or you can use the map here on the homepage to locate an event. </p>

  <p>This site is under construction!! Soon, you will find additional features whereby you will be able to search
    by date and find out live information on each event.  Thank you for visiting!!!
  </p>
  
  <div id="calendar" class="row">
    <div class="span6">
      <h2>On Today</h2>
      
      <% @todays_events.each do |event| %>
        <div class="event-box">
          <div class="event-box-title"><a href="<%= "#{events_path}/#{event.id}" %>"><%= event.title %></a></div>
          <div class="event-box-blurb"><%= truncate(event.description, :length => 140) %></div>
        </div>
      <% end %>
    </div>
    <div class="span6">
      <h2>Coming Up</h2>
      
      <% @upcoming.each do |event| %>
        <div><%= event.title %></div>
      <% end %>
    </div>
  </div>
</div>