<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <ul id="error_msg">

    </ul>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.text_field :start, :class => "date", 'data-value' => @event.start ? @event.start.to_s(:simple) : '' %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.text_field :end, :class => "date", 'data-value' => @event.end ? @event.end.to_s(:simple) : '' %>
  </div>
    <div class="field">
      <%= f.label :repeat %><br />
      <%= f.check_box :repeat %>
      <div class="field">
        <%= f.label :repeat_period, "Repeat Type" %><br />
        <%= f.collection_select( :repeat_period_id, RepeatPeriod.all, :id, :name) %>
      </div>
   <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script>
    var is_form_valid = function () {

        // made title, location and description validation less strict

        var display_error = function (input, msg) {
            $(input).parents(".field")
                    .addClass("field_with_errors");

            $("#error_msg").append("<li>" + msg + "</li>");
            return false;
        }

        var is_title_valid = function () {
            var input = $("#event_title");
            var value = $(input).val().trim();
            $(input).val(value);

            if (value == "") return display_error(input, "Title cannot be blank");

            //var regex = /^[a-z0-9 -]{3,50}$/i;
            //if (!value.match(regex)) return display_error(input, "Title must be between 3 and 50 alphabetical characters");

            return true;
        }

        var is_date_valid = function(input, msg_prefix) {
            var value = $(input).val().trim();
            $(input).val(value);

            var regex = /^(0[1-9]|[12][0-9]|3[01])\/(0[1-9]|1[012])\/((19|20)[0-9]{2})$/;
            if(!value.match(regex)) return display_error(input, msg_prefix + " is not a valid date");
            return true;
        }

        var is_start_valid = function () {
            var input = $("#event_start");
            return is_date_valid(input, "Start date");
        }

        var is_end_valid = function () {
            var input = $("#event_end");
            return is_date_valid(input, "End date");
        }

        var is_location_valid = function () {
            var input = $("#event_location");
            var value = $(input).val().trim();
            $(input).val(value);

            if (value == "") return display_error(input, "Location cannot be blank");

            //var regex = /^[a-z0-9 -]{3,50}$/i;
            //if (!value.match(regex)) return display_error(input, "Location must be between 3 and 50 alphabetical characters");

            return true;
        }

        var is_description_valid = function () {
            var input = $("#event_description");
            var value = $(input).val().trim();
            $(input).val(value);

            if (value == "") return display_error(input, "Description cannot be blank");

            //var regex = /^[a-z0-9 -]{3,50}$/i;
            //if (!value.match(regex)) return display_error(input, "Description must be between 3 and 50 alphabetical characters");

            return true;
        }


        $("#error_msg").empty();
        $(".field_with_errors").removeClass("field_with_errors");

        var valid = true;
        valid *= is_title_valid();
        valid *= is_start_valid();
        valid *= is_end_valid();
        valid *= is_location_valid();
        valid *= is_description_valid();
        return valid;
    }

    $("form").on("submit", function (e) {
        /* e.prevent is a browser command rather than return false which is
         handled by jquery its more of  a default function of the browser */
        if (!is_form_valid()) {
            e.preventDefault();
        }
    });
</script>