
<div class="page-header">
<h1>Listing events</h1>
</div>

<table>
  <tr>
    <th>Title</th>
    <th>Start</th>
    <th>End</th>
    <th>Repeat</th>
    <th>Location</th>
    <th>Map</th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
<div class="event-item row-fluid">
      <div class="span3">
      </div>
      
  <tr>
    <td><%= event.title %></td>
    <td><%= event.start %></td>
    <td><%= event.end %></td>
    <td><%= event.repeat %></td>
    <td><%= event.location %></td>
   
    <td>
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;ll=<%= event.latitude %>,<%= event.longitude %>&amp;spn=0.175236,0.152779&amp;t=m&amp;z=12&amp;output=embed"></iframe>
    </td>

    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= form_tag events_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<%= link_to 'New Event', new_event_path %>
