
<div class="page-header">
<h1>Listing events</h1>
</div>

<table class="table table-condensed">
  <tr>
    <th>Title</th>
    <th>Start</th>
    <th>End</th>
    <th>Location</th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
<div class="event-item row-fluid">
      <div class="span3">
      </div>
           </div >
  <tr>
    <td><%= event.title %></td>
    <td><%= event.start.strftime('%d/%m/%Y') if event.start %></td>
    <td><%= event.end.strftime('%d/%m/%Y') if event.end %></td>
    <td><%= event.location %></td>


    <td><%= link_to 'Show Details', event, :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?', :class => 'btn btn-mini btn-danger' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= form_tag events_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search by location", :name => nil, :class => 'btn btn-primary' %>
  </p>
<% end %>

<%= link_to 'New Event', new_event_path, :class => 'btn btn-primary' %>
