<h1>
	<%= @event.title  %>
</h1>

<p class="lead">
  <strong>Address:</strong>
  <%= @event.location  %>


</p>
<p>
  <strong>Map:</strong>
</p>
<div>

<!--<%#= yield %>  map header should be ABOVE MAP   -->
	<script type="text/javascript">
		var longitude = '<%= @event.longitude %>';
		var latitude = '<%= @event.latitude %>';
	</script>
	
	<div id="indiv-map"></div>

</div>
<p>
  <strong>Details:</strong>
  <%= @event.description  %>
</p>

<h3>Nearby Events</h3>
<ul>
<% for event in @event.nearbys(30)  %>
    <li><%=  link_to event.location, event %> (<%= event.distance.round(2) %>)</li>

<% end %>
</ul>