
<% title "Event" %>

<p>
  <strong>Address:</strong>
  <%= @event.address  %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @event.latitude  %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @event.longitude  %>
</p>

<h3>Nearby Events</h3>
<ul>
<% for event in @event.nearbys(30)  %>
    <li><%=  link_to event.address, event %> (<%= event.distance.round(2) %></li>

<% end %>
</ul>